/* Header Image Background - Change the URL below to your image path (example: ../images/background.jpg) */
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }

.full {
    background: url('../images/initial_bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.img-center {
	margin: 0 auto;
}

.bg-dark {
    background: rgba(0, 0, 0, 0.75);
}

.page-resume li {
    line-height: 1em;
    margin-bottom: 0.666em;
}

img.icon-24 {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 2px;
}

/* ANIMATIONS
============================================================================= */

@-webkit-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeOut {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
@-moz-keyframes fadeOut {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
@-o-keyframes fadeOut {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes fadeOut {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}


.page.ng-enter  { animation: fadeIn 0.25s both ease-in; animation-delay: 0.25s; z-index: 8888; }
.page.ng-leave  { animation: fadeOut 0.25s both ease-in; z-index: 0; }

/******************************* Bubbles ***********************************/


#bubble-wrap {
    bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: -1000;
}

#bubble-wrap.hide {
    display:none;
}

/* KEYFRAMES */

@-webkit-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@-moz-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@-webkit-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@-moz-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

/* ANIMATIONS */

.xtwig {
    background-image: url('../images/stack/logos/twig.png');
    background-repeat: no-repeat;
    background-position: center center;
        
    -webkit-background-size: 85%;
    -moz-background-size: 85%;
    background-size: 85%;
    -o-background-size: 85%;

    -webkit-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: -5%;
	top: 5%;
	
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	transform: scale(1);
}

.xHTML5 {
    background-image: url('../images/stack/logos/HTML5.png');
    background-repeat: no-repeat;
    background-position: center center;
        
    -webkit-background-size: 85%;
    -moz-background-size: 85%;
    background-size: 85%;
    -o-background-size: 85%;
    
    -webkit-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 5%;
	top: 80%;
	
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	transform: scale(0.9);
}



.xFoundation {
    background-image: url('../images/stack/logos/foundation.svg');
    background-repeat: no-repeat;
    background-position: center center;
        
    -webkit-background-size: 85%;
    -moz-background-size: 85%;
    background-size: 85%;
    -o-background-size: 85%;
        
    -webkit-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 10%;
	top: 40%;
	
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	transform: scale(0.7);
}

.xNginx {
    background-image: url('../images/stack/logos/nginx.png');
    background-repeat: no-repeat;
    background-position: center center;
        
    -webkit-background-size: 85%;
    -moz-background-size: 85%;
    background-size: 85%;
    -o-background-size: 85%;
    
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	
	left: 20%;
	top: 0;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
}

.xCode {
    background-image: url('../images/stack/logos/code.png');
    background-repeat: no-repeat;
    background-position: center center;
        
    -webkit-background-size: 85%;
    -moz-background-size: 85%;
    background-size: 85%;
    -o-background-size: 85%;
    
    -webkit-animation: animateBubble 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 57%;
	top: 12%;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}

.xMeteor {
    background-image: url('../images/stack/logos/meteor.png');
    background-repeat: no-repeat;
    background-position: center center;
        
    -webkit-background-size: 85%;
    -moz-background-size: 85%;
    background-size: 85%;
    -o-background-size: 85%;
    
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 30%;
	top: 50%;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
}

.xNode {
    background-image: url('../images/stack/logos/node.png');
    background-repeat: no-repeat;
    background-position: center center;
        
    -webkit-background-size: 85%;
    -moz-background-size: 85%;
    background-size: 85%;
    -o-background-size: 85%;
    
    -webkit-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 50%;
	top: 0;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
}

.xCSS3 {
    background-image: url('../images/stack/logos/css3.png');
    background-repeat: no-repeat;
    background-position: center center;
        
    -webkit-background-size: 75%;
    -moz-background-size: 75%;
    background-size: 75%;
    -o-background-size: 75%;
    
    -webkit-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 65%;
	top: 70%;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}

.xGulp {
    background-image: url('../images/stack/logos/gulp.png');
    background-repeat: no-repeat;
    background-position: center center;
        
    -webkit-background-size: 55%;
    -moz-background-size: 55%;
    background-size: 55%;
    -o-background-size: 55%;
    
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	
	left: 80%;
	top: 10%;
	
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	transform: scale(1.1);
}

.xAngular {
    background-image: url('../images/stack/logos/angular.png');
    background-repeat: no-repeat;
    background-position: center center;
        
    -webkit-background-size: 85%;
    -moz-background-size: 85%;
    background-size: 85%;
    -o-background-size: 85%;
    
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 90%;
	top: 50%;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
}

.xGrunt {
    background-image: url('../images/stack/logos/grunt.png');
    background-repeat: no-repeat;
    background-position: center center;
        
    -webkit-background-size: 80%;
    -moz-background-size: 80%;
    background-size: 80%;
    -o-background-size: 80%;
    
    -webkit-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 80%;
	top: 80%;
	
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	transform: scale(0.7);
}

.xBrackets {
    background-image: url('../images/stack/logos/brackets.png');
    background-repeat: no-repeat;
    background-position: center center;
        
    -webkit-background-size: 85%;
    -moz-background-size: 85%;
    background-size: 85%;
    -o-background-size: 85%;
    
    -webkit-animation: animateBubble 22s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 22s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 22s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 55%;
	top: 60%;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}



.xGimp {
    background-image: url('../images/stack/logos/gimp.png');
    background-repeat: no-repeat;
    background-position: center center;
        
    -webkit-background-size: 85%;
    -moz-background-size: 85%;
    background-size: 85%;
    -o-background-size: 85%;
    
    -webkit-animation: animateBubble 17s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 17s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 17s linear infinite, sideWays 3s ease-in-out infinite alternate;
	
	left: 47%;
	top: 30%;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}

.xInkscape {
    background-image: url('../images/stack/logos/inkscape.png');
    background-repeat: no-repeat;
    background-position: center center;
        
    -webkit-background-size: 85%;
    -moz-background-size: 85%;
    background-size: 85%;
    -o-background-size: 85%;
    
    -webkit-animation: animateBubble 27s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 27s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 27s linear infinite, sideWays 3s ease-in-out infinite alternate;
	
	left: 10%;
	top: 15%;
	
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	transform: scale(1.1);
}


/* OBJECTS */

.bubble {
    -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	-moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	
    height: 200px;
	position: absolute;
	width: 200px;
}

.bubble:after {
    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 70%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.5)), color-stop(70%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
    -webkit-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	-moz-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	
	content: "";
    height: 180px;
	left: 10px;
	position: absolute;
	width: 180px;
}




.float_bar {
    top: 20px;
    left: 0;
    margin: 40px 0;
    position: fixed;
    width: 80px;
    z-index: 9999; 


}
