<div class="row">
    <div class="col-lg-12">
        <h1>{{pageTitle}}</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2" ng-controller="contactController">
        <div ng-repeat="x in contactOptions" class="media">
            <a href="{{x.url}}" target="_new">
                <i class="fa fa-pull-left fa-3x fa-fw {{x.icon}}" aria-hidden="true"></i>
                <h4 class="media-heading">{{x.name}}</h4>
                <p>{{x.handle}}</p>
            </a>
        </div>
    </div>
</div>

