<div class="row subpage">
    <div class="col-lg-12 text-center">
        <img class="img-responsive img-center img-circle" src="./images/face.jpg" alt="" />
        <h1>gabrielbuckley.com</h1>
        <p class="lead">The website of UI/UX developer Gabe Buckley</p>
    </div>
</div>