    <h2 class="text-default"><i class="fa fa-fw fa-address-card-o"></i> Summary</h2>
    <div class="row">
        <div class="col-lg-2 col-md-1">
            <img class="img img-responsive" src="images/flourish_l.svg" />
        </div>
        <div class="col-lg-8 col-md-10">
            <p class="text-primary bg-dark lead">
                I am a web development professional with over a decade of high level industry experience. Spanning a variety of roles I have gained exposure to a wide range of sectors including state and federal government departments, not-for-profit organisations, manufacturing and education.
            </p>

            <p class="text-primary bg-dark">
                My web application development has focused on creating standards-driven and accessible web applications. I am proficient in a large range of web development technologies across both front-end and back-end development frameworks.
            </p>

            <p class="text-primary bg-dark">
                I am familiar with a wide variety of development methodologies and platforms and have extensive experience in all phases of the project life cycle. My software development background puts me in the position of being able to rapidly adapt to and adopt new technologies, while my consulting and analysis experience gives me the ability to swiftly identify innovative methods of utilising existing technology to enhance business processes.
            </p>
        </div>
        <div class="col-lg-2 col-md-1">
            <img class="img img-responsive" src="images/flourish_r.svg" />
        </div>
    </div>
    
    <h2 class="text-default"><i class="fa fa-fw fa-code"></i> Skillsets</h2>
    <div class="row hidden-sm hidden-xs bg-dark">
        <div class="col-md-12">
            <img class="img img-responsive" src="images/5arrows.png" />
        </div>
    </div>
    <div class="row bg-dark">
        <div class="col-md-2">
            <h3>Front End</h3>
            <ul class="list-unstyled text-primary lead">
                <li><small>HTML, XHTML, HTML5</small></li>
                <li><small>CSS, CSS3, LESS &amp; SASS</small></li>
                <li><small>Canvas, SVG &amp; CSS Animations</small></li>
                <li><small>Bootstrap, Materialize, Foundation</small></li>
                <li><small>Javascript, jQuery, Angular, Ember, Backbone</small></li>
            </ul>
        </div>
        <div class="col-md-2">
            <h3>Web Services</h3>
            <ul class="list-unstyled text-primary lead">
                <li><small>XML, XSLT, XFORMS, XPath, XQuery</small></li>
                <li><small>WSDL, SOAP</small></li>
                <li><small>RESTful Services, JSON</small></li>
                <li><small>API Development</small></li>
            </ul>
        </div>
        <div class="col-md-2">
            <h3>Back End</h3>
            <img class="img img-responsive" src="images/stack/logos/twig.png" />
        </div>
        <div class="col-md-3">
            <h3>Server Side &amp; DevOps</h3>
        </div>
        <div class="col-md-3">
            <h3>Tools, Standards &amp; Methodologies</h3>
        </div>
    </div>
    
    <h2 class="text-default"><i class="fa fa-fw fa-laptop"></i> Work History</h2>
    <div class="timeline">
        <div class="timeline-item" ng-repeat="x in workHistory">
            <div class="timeline-point timeline-point-primary"><i class="fa fa-star"></i></div>
            <div class="timeline-event timeline-event-default">
                <div class="timeline-heading">
                    <h3>{{x.title}}</h3>
                </div>
                <div class="timeline-body">
                    <p ng-repeat="y in x.description">
                        {{y}}
                    </p>
                </div>
                <div class="timeline-footer">
                    <p class="text-right text-muted">{{x.date}}</p>
                </div>
            </div>
        </div>
    </div>

