


<h1 class="subpage">The Stack</h1>
<p class="text-primary bg-dark lead">
    Programmers eye off each other's dev stacks like guitarists eye off each other's pedal boards. It's always fun to play with new toys, or find new uses for old ones. While there are thousands of tools out there that will get the job done, finding tools that are a natural fit for you and your projects involves thousands of hours of trial and error that add up over a career. Hopefully, over time, the best tools bubble up to the top of your go-to list.
</p>

<h2>IDEs and Editors</h2>
<p class="text-primary bg-dark">
    We've come a long way since writing web sites in notepad. Web developers now expect access to tools such as syntax highlighting, predictive type-ahead and real-time error detection as standard. Integrated Development Environments these days should be less about being all things to all people and more about being an extensible shell into which developers can plug in modules to suit themselves. My current list:
</p>
<ul class="list-unstyled text-primary bg-dark">
    <li>
        <img class="icon-24" src="../images/stack/logos/brackets.png" alt="Brackets Logo" />
        <a href="http://brackets.io/" target="_blank">
            <strong>Brackets</strong>
        </a>
        - A modern, open source text editor that understands web design
    </li>
    <li>
        <img class="icon-24" src="../images/stack/logos/code.png" alt="Code Logo" />
        <a href="https://code.visualstudio.com/" target="_blank">
            <strong>Code</strong>
        </a>
        - Microsoft's Visual Studio light for web developers
    </li>
    <li>
        <img class="icon-24" src="../images/stack/logos/aptana.png" alt="Aptana Logo" />
        <a href="http://www.aptana.com/" target="_blank">
            <strong>Aptana</strong>
        </a>
        - The old workhorse. An Eclipse-based editor designed for web development. (I also helped write <a href="https://www.safaribooksonline.com/library/view/aptana-studio-beginners/9781849518246/pr02.html" target="_blank">the book</a> on it)
    </li>
</ul>

<h2>Graphic Design</h2>
<p class="text-primary bg-dark">
    Hooray for open-source software. The cost of Photoshop or Illustrator pretty much puts them out of reach for anyone who isn't making most of their money from actual graphic design work. Those of us that just need to do the odd bit here and there can't justify that sort of spend on graphics applications. Luckily there are a couple of great open-source alternatives, namely:
</p>
<ul class="list-unstyled text-primary bg-dark">
    <li>
        <img class="icon-24" src="../images/stack/logos/gimp.png" alt="Gimp Logo" />
        <a href="https://www.gimp.org/" target="_blank">
            <strong>Gimp</strong>
        </a>
        - Gnu Image Manipulation Project. The perfect Photoshop replacement for all your bitmap manipulation needs.
    </li>
    <li>
        <img class="icon-24" src="../images/stack/logos/inkscape.png" alt="Inkscape Logo" />
        <a href="https://code.visualstudio.com/" target="_blank">
            <strong>Inkscape</strong>
        </a>
        - A vector image editing suite that saves natively in SVG, also opens Illustrator files.
    </li>


<div id="bubble-wrap" class="hidden-sm hidden-xs {{bubbler.wrap_class}}" aria-hidden="true">
    
    <div class="bubble xtwig"></div>
    <div class="bubble xHTML5"></div>
    <div class="bubble xFoundation"></div>
    <div class="bubble xNginx"></div>
    <div class="bubble xMeteor"></div>
    <div class="bubble xBrackets"></div>
    <div class="bubble xNode"></div>
    <div class="bubble xCSS3"></div>
    <div class="bubble xGulp"></div>
    <div class="bubble xAngular"></div>
    <div class="bubble xGrunt"></div>
    <div class="bubble xCode"></div>
    <div class="bubble xGimp"></div>
    <div class="bubble xInkscape"></div>
</div>
<div class="float_bar back_button_bg hidden-sm hidden-xs" aria-hidden="true">
    <h5>Bubbles:</h5>
    <div class="btn-group" role="group">
        <button id="bubbles_on_btn" type="button" class="btn btn-sm {{bubbler.on_btn_class}}" ng-click="bubbler.toggle()">On</button>
        <button id="bubbles_off_btn" type="button" class="btn btn-sm {{bubbler.off_btn_class}}" ng-click="bubbler.toggle()">Off</button>
    </div>
</div>