<h1>A collection of Stuff</h1>

<h2>Stuff I like</h2>
<ul  class="list-unstyled text-primary bg-dark">
    <li>
        <a href="https://coolors.co/" target="_blank">
            <strong>Coolors</strong>
        </a>
        - Super fast colour scheme generator
    </li>
    <li>
        <a href="http://colorsupplyyy.com/" target="_blank">
            <strong>Color Supply</strong>
        </a>
        - A wheel-based colour scheme browser
    </li>
</ul>